body {
  margin: 0;
  background-color: rgb(255, 254, 253);
  color: rgb(20, 11, 0);
  @font-face {
    font-family: 'SuperGroteskA', sans-serif;
    src: local('./fonts/supergroteska-rg.tff'), format('truetype');
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
